* {
    padding: 0;
    margin: 0;
}

video {
    object-fit: cover;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
}

.fullScreen {
    position: relative;
    z-index: 1;
    height: 100vh;
    background: rgba(0, 0, 10, 0.7);
}

.title {
    height: calc( 100% - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: floralwhite;
    letter-spacing: 2px;
    font-size: 3em;
    font-family: cursive;
}

.toggle{
    padding-left: 10px;
}
.switch {
    padding: 10px 15px;
    height: 32px;
    width: 60px;
}
input[type=checkbox]{
    position: relative;
    cursor: pointer;
    appearance: none;
    border: 3px solid #161313;
    border-radius: 17px;
}
input:checked{
    background: forestgreen;
}
input:after{
    content: "";
    position: absolute;
    height: 27px;
    width: 27px;
    border-radius: 50%;
    left: 0;
    bottom: -1px;
    background: silver;
    transition: all 0.2s;
}
input:checked:after{
    left: 27px;
}
input:before{
    content: "OFF";
    position: absolute;
    right: 2px;
    bottom: 4px;
    color: white;
}

input:checked:before{
    content: "ON";
    position: absolute;
    left: 5px;
    bottom: 4px;
    color: floralwhite;
}

