<<<<<<< HEAD
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background-color: hsl(192, 32%, 40%);
    color: #fff;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #95bec8;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #7da6b0;
}


body {
    background-image: linear-gradient(to right, lightblue, transparent);
    overflow-y: auto;
    display: flex;
    justify-content: center;
}

#container {
    width: 75%;
    text-align: center;
    padding: 5em;
}

#title {
    font-family: sans-serif;
    font-size: 32px;
    word-spacing: 3px;
    margin: 24px 0;
}

#generation {
    margin-bottom: 36px;
}

#p-title {
    display: inline;
    font-family: monospace;
}

#number {
    width: 42px;
    padding: 5px 0;
    color: #3b3b99;
    border-color: #3b3b99;
    border-radius: 4px;
}

.btn {
    font-family: monospace;
    font-size: 15px;
    padding: 4px 10px;
    background-color: #95bec8;
    border-color: #3b3b99;
    border-radius: 4px;
}

#confirm-number:hover {
    filter: brightness(90%)
}

#paragraphs {
    list-style-type: none;
}


textarea {
    font-family: system-ui, serif;
    background-color: transparent;
    border: none;
    resize: none;
    width: 100%;
    line-height: 27px;
    text-align: justify;

}

textarea:focus {
    outline: none;
}

@media screen and (max-width: 808px) {
    #container {
        width: 100%;
    }
=======
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background-color: hsl(192, 32%, 40%);
    color: #fff;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #95bec8;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #7da6b0;
}


body {
    background-image: linear-gradient(to right, lightblue, transparent);
    overflow-y: auto;
    display: flex;
    justify-content: center;
}

#container {
    width: 75%;
    text-align: center;
    padding: 5em;
}

#title {
    font-family: sans-serif;
    font-size: 32px;
    word-spacing: 3px;
    margin: 24px 0;
}

#generation {
    margin-bottom: 36px;
}

#p-title {
    display: inline;
    font-family: monospace;
}

#number {
    width: 42px;
    padding: 5px 0;
    color: #3b3b99;
    border-color: #3b3b99;
    border-radius: 4px;
}

.btn {
    font-family: monospace;
    font-size: 15px;
    padding: 4px 10px;
    background-color: #95bec8;
    border-color: #3b3b99;
    border-radius: 4px;
}

#confirm-number:hover {
    filter: brightness(90%)
}

#paragraphs {
    list-style-type: none;
}


textarea {
    font-family: system-ui, serif;
    background-color: transparent;
    border: none;
    resize: none;
    width: 100%;
    line-height: 27px;
    text-align: justify;

}

textarea:focus {
    outline: none;
}

@media screen and (max-width: 808px) {
    #container {
        width: 100%;
    }
>>>>>>> 2ac06a8 (Change project list UI)
}