<<<<<<< HEAD
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ebedef;
    height: 100vh;
    font-family: monospace;
}
#container{
    box-shadow: 1px 1px 10px gray;
    background: #fff;
    width: 60%;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
}
#notification{
    height: 27px;
    border-radius: 4px;
    line-height: 27px;
    font-size: 13px;
}
#title{
    margin: 20px 0;
    font-size: 30px;
}
#action{
    display: flex;
    margin: 25px 0;
}
#initial-goods{
    width: 100%;
    font-family: monospace;
    height: 35px;
    font-size: 17px;
    padding: 0 15px;
    background: aliceblue;
    border: none;
    border-radius: 8px 0 0 8px;
}
#initial-goods:focus-visible, #initial-goods:focus{
    border: 2px solid cornflowerblue;
    outline: none;
}
#add-btn, #edit-btn{
    font-family: monospace;
    height: 35px;
    padding: 6px;
    font-size: 15px;
    min-width: 90px;
    background: lightsteelblue;
    border: none;
    border-radius: 0 8px 8px 0;
}
.btn {
    border: none;
    background: none;
}

.item {
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    padding: 8px 14px;
}
.item:hover{
    background: #f8fcfd;
}
.editItem{
    border: none;
    color: green;
    padding: 0 8px;
    background: none;
}
.deleteItem{
    border: none;
    color: palevioletred;
    padding: 0 8px;
    background: none;
}
#clear-items{
    color: crimson;
    font-family: revert;
    letter-spacing: 3px;
    margin-bottom: 12px;
    font-size: 15px;
=======
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ebedef;
    height: 100vh;
    font-family: monospace;
}
#container{
    box-shadow: 1px 1px 10px gray;
    background: #fff;
    width: 60%;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
}
#notification{
    height: 27px;
    border-radius: 4px;
    line-height: 27px;
    font-size: 13px;
}
#title{
    margin: 20px 0;
    font-size: 30px;
}
#action{
    display: flex;
    margin: 25px 0;
}
#initial-goods{
    width: 100%;
    font-family: monospace;
    height: 35px;
    font-size: 17px;
    padding: 0 15px;
    background: aliceblue;
    border: none;
    border-radius: 8px 0 0 8px;
}
#initial-goods:focus-visible, #initial-goods:focus{
    border: 2px solid cornflowerblue;
    outline: none;
}
#add-btn, #edit-btn{
    font-family: monospace;
    height: 35px;
    padding: 6px;
    font-size: 15px;
    min-width: 90px;
    background: lightsteelblue;
    border: none;
    border-radius: 0 8px 8px 0;
}
.btn {
    border: none;
    background: none;
}

.item {
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    padding: 8px 14px;
}
.item:hover{
    background: #f8fcfd;
}
.editItem{
    border: none;
    color: green;
    padding: 0 8px;
    background: none;
}
.deleteItem{
    border: none;
    color: palevioletred;
    padding: 0 8px;
    background: none;
}
#clear-items{
    color: crimson;
    font-family: revert;
    letter-spacing: 3px;
    margin-bottom: 12px;
    font-size: 15px;
>>>>>>> 2ac06a8 (Change project list UI)
}