* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: gold;
    height: 100vh;
    font-family: Calibri;
}

#btn-wrapper {
    display: flex;
    margin: 20px;
}

.btn {
    margin: 0 5px;
    padding: 8px 15px;
    border: solid white 2px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.3);
    color: #212121;
    transition: all .2s;
    cursor: pointer;
}

.btn:hover {
    background-color: aliceblue;
}