<<<<<<< HEAD
* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to bottom, #b8bcc6, transparent, #b8bcc6);
}
.menuName {
    margin: 20px 0;
    padding-bottom: 5px;
    border-bottom: 3px solid darkgoldenrod;
}
.btn {
    background: transparent;
    border-color: darkgoldenrod;
    color: darkgoldenrod;
    padding: 5px 10px;
    margin: 20px 4px;
    border-radius: 8px;
    font:600 0.9em system-ui;
}
section {
    width: 70%;
}
#items{
    display: flex;
    flex-wrap: wrap;
}
li {
    width: 50%;
    display: flex;
    padding: 20px 10px;
    box-sizing: border-box;
}
.foodPic{
    min-width: 200px;
    height: 140px;
    border: 3px solid darkgoldenrod;
    border-radius: 8px;
    margin: 0 10px;
}
.content{
    width: 100%;
}
.title {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-family: system-ui;
    font-weight: bold;
}
.foodPrice{
    color: darkgoldenrod;
}
.foodDes{
    padding: 10px 0;
    color: gray;
    font-family: 'Source Sans Pro', sans-serif;
}

=======
* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to bottom, #b8bcc6, transparent, #b8bcc6);
}
.menuName {
    margin: 20px 0;
    padding-bottom: 5px;
    border-bottom: 3px solid darkgoldenrod;
}
.btn {
    background: transparent;
    border-color: darkgoldenrod;
    color: darkgoldenrod;
    padding: 5px 10px;
    margin: 20px 4px;
    border-radius: 8px;
    font:600 0.9em system-ui;
}
section {
    width: 70%;
}
#items{
    display: flex;
    flex-wrap: wrap;
}
li {
    width: 50%;
    display: flex;
    padding: 20px 10px;
    box-sizing: border-box;
}
.foodPic{
    min-width: 200px;
    height: 140px;
    border: 3px solid darkgoldenrod;
    border-radius: 8px;
    margin: 0 10px;
}
.content{
    width: 100%;
}
.title {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-family: system-ui;
    font-weight: bold;
}
.foodPrice{
    color: darkgoldenrod;
}
.foodDes{
    padding: 10px 0;
    color: gray;
    font-family: 'Source Sans Pro', sans-serif;
}

>>>>>>> 2ac06a8 (Change project list UI)
