<<<<<<< HEAD
* {
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #adc0c8;
}
.title {
    margin: 60px 0;
    font-size: 4em;
    font-family: cursive;
}
#number {
    font-size: 6em;
    font-family: sans-serif;
    /*color: #000;*/
}
.btn {
    font: bold 1.4em monospace;
    letter-spacing: 4px;
    padding: 10px 15px;
    background: transparent;
    border-radius: 4px;
    margin: 50px 10px;
}
.btn:hover {
    background: aliceblue;
    box-shadow: 0 0 8px aliceblue;
    transition: 0.3ms;
=======
* {
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #adc0c8;
}
.title {
    margin: 60px 0;
    font-size: 4em;
    font-family: cursive;
}
#number {
    font-size: 6em;
    font-family: sans-serif;
    /*color: #000;*/
}
.btn {
    font: bold 1.4em monospace;
    letter-spacing: 4px;
    padding: 10px 15px;
    background: transparent;
    border-radius: 4px;
    margin: 50px 10px;
}
.btn:hover {
    background: aliceblue;
    box-shadow: 0 0 8px aliceblue;
    transition: 0.3ms;
>>>>>>> 2ac06a8 (Change project list UI)
}