*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
     background: linear-gradient(90deg, darkgray, transparent);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
card{
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
img{
    width: 250px;
    min-width: 200px;
    height: 250px;
}
#container{
    padding: 0 0 0 20px;
}
h1, h3{
    margin: 10px 0;
}
#get-date{
    display: block;
    margin: 10px 0;
    background-color: darkgrey;
    color:darkslategray;
}
#show-counter{
    display: flex;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    margin-right: 10px;
    background: darkgrey;
    color: darkslategrey;
}
strong{
    display: block;
    font-size: 24px;
}