body{
    margin: 0;
}
#container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#image-box{
    background-size: cover;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}
#next-btn , #prev-btn{
    border: 1px solid black;
    color: #fff;
    border-radius: 50%;
    background: black;
    font-size: 24px;
    opacity: 0.7;
    width: 40px;
    height: 40px;
    margin: 10px;
    cursor: pointer;
}
#next-btn:hover,
#prev-btn:hover{
    opacity: 1;
}
#next-btn{
    padding: 0 14px;
}
#counter{
    display: flex;
    width: 862px;
    justify-content: space-between;
    position: absolute;
    top: calc(50% + 3px);
}
.image-cover{
    width: 100%;
    backdrop-filter: blur(20px);
    text-align: center;
    color: mintcream;
}
.image-des{
    display: flex;
    justify-content: space-between;
    width: 800px;
    height: 18%;
    margin: auto;
    font-family: monospace;
}
.title{
    margin: 4% 0;
    font-size: 32px;
}
.description{
    font-size: 18px;
    margin: 3% 0;
    word-spacing: 4px;
    padding-left: 70px;
    text-align: left;
    line-height: 2;
}
.image-bright{
    max-width: 800px;
    height: 75%;
    background-size: cover;
    margin: auto;
    box-shadow: 0 0 300px black, 0 0 30px rgba(0,0,0,0.3);
}
.image-step > i {
    padding: 15px 5px;
    cursor: pointer;
}
