body{
    height: 100vh;
    margin: 0;
}
.container{
    height: 100%;
    width: 90%;
    min-width: 490px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: auto;
}
.icons {
    display: flex;
    justify-content: center;
    border: 1px solid gray;
    padding: 20px;
}
.score {
    display: flex;
    justify-content: space-around;
}
.show-icons{
    display: flex;
    justify-content: space-between;

}
#hand-rock{
    background-image: url("img/hand-rock.png");
    width: 40px;
    height: 40px;
    background-size: cover;
}
#hand-paper{
    background-image: url("img/hand.png");
    width: 40px;
    height: 40px;
    background-size: cover;
}
#hand-scissors{
    background-image: url("img/hand-scissors-gif.gif");
    width: 40px;
    height: 40px;
    background-size: cover;
}
.icon-wrapper{
    width: 70px;
    height: 70px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid darkgrey;
    border-radius: 50%;
}
.user-icon .icon-wrapper:hover{
    border: 1px solid black;
}
.choosen{
    width: 75px;
    height: 75px;
    border: 2px solid black;
}
.color{
    font-weight: 900;
}