<<<<<<< HEAD
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow-y: scroll;
}

.navbar {
    position: fixed;
    background: #fff;
    color: midnightblue;
    box-shadow: 0 1px 20px midnightblue;
    transition: 100ms;
}

nav {
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
    padding: 0 8em;
}

nav img {
    height: 70px;
}

ul {
    display: flex;
    flex-direction: row;
}

.navItem {
    list-style-type: none;
    padding: 30px;
}

.navItem a {
    text-decoration: none;
}

a:active {
    color: #3b3b99;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20em;
    text-align: center;
    background-size: cover;
    height: 100vh;
}

article h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

article p {
    font-size: 22px;
}

#home {
    color: #6087b1;
    height: 100vh;
    background-image: url("img/bg1.jpg");
}

#about {
    background-image: url("img/background.jpg");
    color: floralwhite;
}

#service {
    background-image: url("img/backgroundService.jpg");
    color: floralwhite;
=======
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow-y: scroll;
}

.navbar {
    position: fixed;
    background: #fff;
    color: midnightblue;
    box-shadow: 0 1px 20px midnightblue;
    transition: 100ms;
}

nav {
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
    padding: 0 8em;
}

nav img {
    height: 70px;
}

ul {
    display: flex;
    flex-direction: row;
}

.navItem {
    list-style-type: none;
    padding: 30px;
}

.navItem a {
    text-decoration: none;
}

a:active {
    color: #3b3b99;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20em;
    text-align: center;
    background-size: cover;
    height: 100vh;
}

article h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

article p {
    font-size: 22px;
}

#home {
    color: #6087b1;
    height: 100vh;
    background-image: url("img/bg1.jpg");
}

#about {
    background-image: url("img/background.jpg");
    color: floralwhite;
}

#service {
    background-image: url("img/backgroundService.jpg");
    color: floralwhite;
>>>>>>> 2ac06a8 (Change project list UI)
}